.platform {
    

    ul {
        list-style: none;
        padding-left: 0;
        text-align: left;
        margin: 0 10%;
    }
    li {
        padding: 5px 0 5px 0;
    }
    a {
        text-decoration: none;
    }
}