.game-form {
    max-width: 40%;
    margin: 0 auto;
    text-align: center;

    label {
        display: block;
        text-align: left;
        margin-bottom: 10px;
    }
    input {
        width: 100%;
        margin-bottom: 20px;
    }
    select {
        width: 100%;
        margin-bottom: 20px;
    }
    button {
        background: #0d0221;
        width: 100px;
        height: 40px;
        border-radius: 10px;
        border: 3px solid #719e94;
        border: none;
        box-shadow: 0 0 13px 3px #f706cf;
        color: #f706cf;
        font-size: 1.2em;
        font-family: monospace;
        font-weight: bold;
        margin: 20px 0;
    }
    button:hover {
        background: #fd3777;
        color: #0d0221;
        border: 2px solid #0d0221;
        box-shadow: 0 0 13px 3px #d40778;
        cursor: pointer;
    }
}